survival.lan {
	reverse_proxy homepage:3000
	tls internal
}

mealie.survival.lan {
	reverse_proxy mealie:9000
	tls internal
}

kiwix.survival.lan {
	reverse_proxy kiwix:8080
	tls internal
}

admin.survival.lan {
	reverse_proxy 10.3.141.1:8000
	tls internal
}

files.survival.lan {
	reverse_proxy filebrowser:80
	tls internal
}

ai.survival.lan {
	reverse_proxy open-webui:8080 
	tls internal
}

homebox.survival.lan {
    reverse_proxy homebox:7745 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
    tls internal
}

sdr.survival.lan {
	reverse_proxy owrx:8073
	tls internal
}
